@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    
}

body {
    background-color: #24B29F;
    font-size: 14px;
}


.container {
    width: 100%;
    padding: 0 20px;
    margin: 0;
    
}



.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
}

.container-logo i {
    color: #3498db;
    font-size: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
}

.bodi{
    display: flex;
    flex-direction: row;
}
.imagen{
    align-self: flex-end;
    
}
.imagen img{
    align-self: center;
    height: 300px;
}


.rectangulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    bottom: 0;
    width: 700px;
    height: 150px;
}

.rectangulo .opcion {
    width: 150px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.circulo {
    background-color: #3498db;
    padding: 20px 0;
}





.opcion img {
    max-width: 100%;
    height: auto;
}

.opcion h3 {
    text-align: center;
    padding: 15px 0;
}

.opcion a {
    display: block;
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
}

.color1 {
    background-color: #2F3A59;
}

.color2 {
    background-color: #906FA6;
}

.color3 {
    background-color: #D97EB0;
}

.color4 {
    background-color: #f39c12;
}

.rectangulo .opcion a:hover {
    color: #212640;
    background-color: #ecf0f1;
}
.consulta{
    flex-grow: 1;
    margin: 0px 20px;
}
